#thumbnails created by Windows
Thumbs.db
#files & directories created by Maven
target/
#files & directories created by IntelliJ
.idea/
*.iml
#files & directories created by Eclipse
.settings/
*.classpath
*.project
*.tern-project
/bin/
